<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
<listeners>
     <listener class-name ="listener/MytestngListener"></listener>
</listeners>
  <test name="ListenerTest">
    <classes>
      <class name="testcases.TestA"/>
      
    </classes>
  </test>
   <test name="ListenerTest">
    <classes>
      
       <class name="testcases.MakeDish"/>
    </classes>
  </test>
</suite>

